# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# For macOS:
*.cfg
*.cfg.local
*.db
*.egg
*.egg-info/
*.ini
*.ini.local
*.log
*.mo
*.py[cod]
*.pyc
*.pyo
*.so
*.sqlite3
*.trace
.DS_Store
.coverage
.env
.idea/
.installed.cfg
.spyproject/
.tmp/
.tox
.vscode
Pipfile.lock
__pycache__/
argocd/
bin
build/
develop-eggs
dist/
eggs
env/
lib
lib64
logs/*
nosetests.xml
*.mo
old/
output/
parts
sdist
test/
tmp/
var
venv/
archive/
